@import '../../style/variable.scss';

$componentName: 'TitleContent';

.#{$componentName}Content {
    .title {
        @include hannstarH2Title;
        padding-bottom: 32px;
        text-align: center;
    }
    .textBlock {
        text-align: center;
        .content {
            @include hannstarContent1;
            padding-bottom: 30px;
        }
        .linkBtn {
            @include hannstarBtn;
        }
    }
    @media screen and (max-width: $breakpoint) {
        .title {
            @include hannstarH3Title;
            padding-bottom: 20px;
        }
        .content {
            @include hannstarContent1;
            padding-bottom: 20px;
        }
    }
}
