@import '../../style/variable.scss';

$pageName: 'AccountMyAccount';

.#{$pageName}Content {
    padding: 0 60px;
    margin-bottom: 100px;
    .mainTitle {
        @include hannstarH2Title;
        margin-bottom: 20px;
    }
    .accountTitle {
        @include hannstarH3Title;
        border-bottom: 1px solid $hannstar-border-color;
        padding-bottom: 5px;
    }
    .infoBlock {
        display: flex;
        justify-content: space-between;
        @include hannstarContent1;
        .leftBlock,
        .rightBlock {
            width: 50%;
            .subTitle {
                padding: 10px 0;
                @include hannstarH4Title;
            }
            .listBlock {
                padding: 5px 0;
                .title {
                    padding-right: 10px;
                }
                .text {
                }
            }
            .editBtn {
                margin-top: 30px;
                @include hannstarBtn;
            }
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .#{$pageName}Content {
        padding: 0;
        margin-bottom: 30px;
    }
}
