@import '../../style/variable.scss';

.testHtml {
    line-height: 1.8;
    table {
        width: 100% !important;
    }
    .hannstarTableRWD {
        display: none;
    }
}
.testTableRWD {
    display: none;
    margin-bottom: 100px;
}
.testPDFHtml {
    table {
        width: 100%;
        border: 1px solid #000;
        thead {
            tr {
                td {
                    background-color: blue;
                    color: #fff;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: 1px solid #000;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .testHtml {
        line-height: 1.8;
        table {
            display: none;
        }
    }
    .testTableRWD {
        display: block;
    }
}
