@import "../../style/variable.scss";

$pageName: "AccountLogout";

.#{$pageName}Content {
  margin: 150px 0;
  text-align: center;
  .mainTitle {
    @include hannstarH2Title;
    margin-bottom: 20px;
  }
  .content {
    @include hannstarContent1;
  }
}
