@import "../../style/variable.scss";

$pageName: "ServiceIndex";

.#{$pageName}MainContainer {
  .#{$pageName}ArticleListBlock {
    .mainTitle {
      @include hannstarH2Title;
      text-align: center;
      margin-bottom: 30px;
    }
    .articleBlock {
      .title {
        @include hannstarH3Title;
        text-align: center;
      }
      .content {
      }
    }
  }
}
