@import '../../style/variable.scss';

$pageName: 'ServiceIndex';

.#{$pageName}TextBlock {
    background-color: $hannstar-bg-color;
    padding: 80px 0px;
    .title {
        @include hannstarH2Title;
    }
    .content {
        @include hannstarContentText;
        text-align: center;
    }
}

.#{$pageName}ServiceBlock {
    .title {
        @include hannstarH2Title;
    }
}

.#{$pageName}ArticleListBlock {
    .title {
        @include hannstarH2Title;
    }
}
