@import "../../../style/variable.scss";

$pageName: "StepOne";

.#{$pageName}ContentBlock {
  margin-bottom: 80px;
  .#{$pageName}Title {
    @include hannstarH3Title;
    color: $hannstar-blue1;
    margin-bottom: 40px;
  }
  .formBlock {
  }
  .btnBlock {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .formBtn {
      @include hannstarBtn;
      margin-right: 40px;
    }
  }
}
