@import '../../style/variable.scss';

$pageName: 'AccountMemberInfo';

.#{$pageName}Content {
    padding: 0 60px;
    margin-bottom: 100px;
    .mainTitle {
        @include hannstarH2Title;
        margin-bottom: 20px;
    }
    .inviteBlock {
        width: 50%;
        display: inline-flex;
        float: right;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        p {
            @include hannstarContentText;
        }
        input[type='text'] {
            @include hannstarInput;
            max-width: 240px;
        }
        a {
            @include hannstarBtn;
            text-align: center;
            // color:$hannstar-other-text-color ;
            // background-color: $hannstar-blue1;
        }
    }
    table {
        width: 100%;
        display: table;
        border: 1px solid #eee;
        tr {
            border-bottom: 1px solid $hannstar-border-color;
            &:nth-child(1) {
                color: #fff;
                background-color: $hannstar-blue2;
                border-bottom: none;
            }
        }
        td {
            width: calc(100% / 3);
            padding: 15px 30px;
            text-align: center;
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .#{$pageName}Content {
        padding: 0;
        margin-bottom: 30px;
        .rankTypeContent {
            margin-bottom: 50px;
            .rankContent {
                display: flex;
                flex-direction: column;
                grid-template-columns: 0cm;
                grid-auto-rows: 0cm;
                grid-column-gap: 0px;
                .rankBlock {
                    padding-bottom: 0;
                    .rankCard {
                        padding: 20px 30px;
                    }
                    &:last-of-type {
                        padding-bottom: 80px;
                    }
                }

                .arrowBlock {
                    margin: 20px 0;
                    transform: rotate(90deg);
                }
            }
        }
        .captionContent {
            min-height: 600px;
            .tabs {
                position: relative;
                margin: 3rem 0;
                display: flex;
                justify-content: space-between;
                overflow: initial;
                grid-template-columns: 0cm;
                grid-auto-rows: 0cm;
                grid-auto-columns: 0cm;
                grid-column-gap: 0cm;
                .tab {
                    width: 49%;
                    min-height: 680px;
                    height: auto;
                    &:nth-child(2) {
                        display: none;
                    }
                    .captionIcon {
                        display: none;
                    }
                }
            }

            .tab-switch {
                display: none;
            }

            .tab-label {
                position: relative;
                display: block;
                padding: 10px;
                background: $hannstar-border-color;
                color: #fff;
                cursor: pointer;
                top: 0;
                transition: all 0.25s;
                border-radius: 5px 5px 0 0;
                text-align: center;
            }

            .tab-content {
                height: auto;
                position: absolute;
                z-index: 1;
                left: 0;
                padding: 1.618rem;
                background: #fff;
                opacity: 0;
                border: 1px solid $hannstar-border-color;
                border-top: 0.25rem solid $hannstar-blue3;
                transition: all 0.35s;
                @include hannstarContent2;
                width: 100%;
                box-sizing: border-box;
                .captionList {
                    li {
                        display: flex;
                        align-items: center;
                        padding: 10px 0px;
                        img {
                            width: 12px;
                            height: 9px;
                            margin-right: 10px;
                        }
                    }
                }

                .btnBlock {
                    text-align: center;
                    .applicationBtn {
                        @include hannstarBtn;
                        text-align: center;
                    }
                }
            }

            .tab-switch:checked ~ {
                .tab-label {
                    background: $hannstar-blue3;
                    color: #fff;
                    border-bottom: 0;
                    transition: all 0.35s;
                    z-index: 1;
                }

                label ~ .tab-content {
                    z-index: 2;
                    opacity: 1;
                    transition: all 0.35s;
                }
            }
        }
    }
}
