@import '../../style/variable.scss';

$pageName: 'partner-fcp-prog_fcp_quotation_reply';

.#{$pageName}title {
    @include hannstarH2Title;
}

.#{$pageName}btnBlock {
    display: flex;
    justify-content: center;
    .btn {
        @include hannstarBtn;
        font-size: 18px;
    }
}
