@import '../../style/variable.scss';

.breadcrumbsBlock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 80px;
    border-bottom: 1px solid $hannstar-border-color;
    .mainTitle {
        @include hannstarH1Title;
    }
    .rightBlock {
        .textLink {
            @include hannstarContentText;
            &::after {
                content: '/';
                padding: 0 10px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: $breakpoint) {
        justify-content: center;
        .mainTitle {
            @include hannstarH1Title;
        }
        .rightBlock {
            display: none;
        }
    }
}
