@import '../../style/variable.scss';

$componentName: 'Breadcrumbs';

.#{$componentName}Content {
    // max-width: 1440px;
    // margin: 0 auto;
    .linkBlock {
        padding: 40px 0 60px;
        .link {
            @include hannstarContent0;
            &::after {
                content: '/';
                padding: 0 10px;
            }
            &:last-child {
                color: $hannstar-blue2;
                &::after {
                    display: none;
                }
            }
        }
    }
    .mainTitle {
        @include hannstarH1Title;
        font-weight: $font-weighr-bold;
        padding: 0 40px;
    }

    @media screen and (max-width: $breakpoint) {
        .linkBlock {
            padding: 20px 0 0 0;
        }
        .mainTitle {
        }
    }
}
