.breadcrumbsBlock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 20px;
    border-bottom: 1px solid #e2e2e3;
    .mainTitle {
        font-weight: 600;
        font-size: 36px;
        color: #000;
    }
    .rightBlock {
        .textLink {
            font-weight: 300;
            color: #b2b2b2;
            &::after {
                content: '/';
                padding: 0 10px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}
