@import "../../style/variable.scss";

$pageName: "partner-technical-cooperation";

.#{$pageName}ContentBlock {
  padding: 0 80px;
  .#{$pageName}TextBlock {
    text-align: center;
    margin-bottom: 40px;
    .title {
      @include hannstarH3Title;
      padding-bottom: 40px;
    }
    .content {
      @include hannstarContentText;
    }
  }
  .#{$pageName}FormBlock {
    margin-bottom: 40px;
  }
  .#{$pageName}UploadBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .uploadBtn {
      @include hannstarBtn;
      width: 48px;
      text-align: center;
    }
  }
  .#{$pageName}NoteBlock {
    @include hannstarNoteText;
    margin-bottom: 40px;
  }
  .#{$pageName}BtnBlock {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    .formBtn {
      @include hannstarBtn;
      width: 48px;
      text-align: center;
      margin-right: 40px;
    }
  }
}
