@import "../../style/variable.scss";

$pageName: "SustainabilityESG";

.#{$pageName}ContentBlock {
  padding: 60px 0;
  .articleSelect {
    @include hannstarSelect;
    width: 120px;
    margin-bottom: 30px;
  }
}
