@import '../../style/variable.scss';

$pageName: 'AccountPersonalTemplate';

.#{$pageName}AccountToolBar {
    background-color: $hannstar-bg-color;
    height: 100%;
    .linkBlock {
        .linkText {
            cursor: pointer;
            width: 100%;
            padding: 10px 0;
            &.first {
                a {
                    @include hannstarH3Title;
                }
            }
            a {
                @include hannstarContentText;
                display: flex;
                align-items: center;
                padding: 0 50px;
                svg {
                    padding-right: 15px;
                }
            }
            &.active {
                background-color: $hannstar-blue0;
                a {
                    color: $hannstar-blue2;
                }
            }
        }
    }
}
