@import '../../style/variable.scss';

$pageName: 'AccountPersonalTemplate';

.#{$pageName}AccountToolBar {
    background-color: $hannstar-bg-color;
    height: 100%;
    padding: 10px 40px;
    input {
        &#menu,
        &#menu1 {
            display: none;
        }
        &:checked ~ .menu-content {
            max-height: 100%;
        }
    }
    label {
        // display: none;
        @include hannstarH4Title;
    }
    .menu-content {
        margin-bottom: 30px;
    }
    .linkBlock {
        .linkText {
            cursor: pointer;
            width: 100%;
            padding-top: 5px;
            &.first {
                a {
                    @include hannstarH3Title;
                }
            }
            a {
                @include hannstarContentText;
                display: flex;
                align-items: center;
                svg {
                    padding-right: 15px;
                }
            }
            &.active {
                background-color: $hannstar-blue0;
                a {
                    color: $hannstar-blue2;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint) {
    .#{$pageName}AccountToolBar {
        padding: 10px;
        border: 1px solid $hannstar-border-color;
        margin-bottom: 30px;
        label {
            display: block;
            cursor: pointer;
            text-align: center;
            @include hannstarContent1;
            &:last-of-type {
                display: none;
            }
        }
        input {
            &#menu,
            &#menu1 {
                display: none;
            }
            &:checked ~ .menu-content {
                max-height: 100%;
            }
            &:checked ~ label {
                display: block;
            }
        }
        .menu-content {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 0;
        }
        .linkBlock {
            .linkText {
                a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                }
            }
        }
    }
}
