@import "../../style/variable.scss";

$pageName: "AboutCertification";

.#{$pageName}ContentBlock {
  padding: 80px 0;
  .d360Title {
    @include hannstarH3Title;
    padding-bottom: 30px;
  }
  .d360Ul {
    display: flex;
    @include hannstarContent1;
    margin-bottom: 50px;
    .d360Li {
      text-align: center;
      padding: 8px 15px;
      cursor: pointer;
      float: left;
      display: inline-flex;
      background-color: $hannstar-bg-color;
      &.active {
        color: #fff;
        background: $hannstar-blue2;
      }
    }
  }
  .d360ContentBlock {
    .d360HTML {
      @include D360Style;
    }
  }
}
