@import '../../style/variable.scss';

$pageName: 'paperDisplayTab';

.#{$pageName}ContentBlock {
    .#{$pageName}TabBlock {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 2px solid $hannstar-border-color;
        .tab {
            @include hannstarH4Title;
            color: $hannstar-border-color;
            width: 33.33%;
            text-align: center;
            cursor: pointer;
            &.active {
                color: $hannstar-blue2;
            }
        }
    }
    .tabContent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding: 20px 0;
        .imgBlock {
            cursor: pointer;
            img {
                width: 100%;
            }
            .title {
                @include hannstarContent1;
                text-align: center;
            }
        }
    }
    .secTabContent {
        margin-top: 60px;
        border-top: 2px solid $hannstar-blue1;
        padding: 50px 0;
        &::before {
            content: '\A';
            border-style: solid;
            border-width: 10px 15px 10px 0;
            border-color: transparent #dd4397 transparent transparent;
            position: absolute;
            left: -15px;
        }
        .blueBlock {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            padding: 20px 0;
            .blueTextBlock {
                padding: 20px;
                background-color: $hannstar-blue0;
                .blueTitle {
                    @include hannstarH4Title;
                    color: $hannstar-blue2;
                    margin-bottom: 20px;
                }
                .blueContent {
                    @include hannstarContent1;
                }
            }
        }
        .recommend1Block,
        .recommend2Block {
            margin-bottom: 60px;
            .title {
                @include hannstarH3Title;
                text-align: center;
                margin-bottom: 20px;
            }
            .productContent {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 30px;
                padding: 20px 0;
                .productBlock {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $hannstar-border-color;
                    .imgBlock {
                        border: 1px solid $hannstar-border-color;
                        padding: 20px;
                        img {
                            width: 100%;
                        }
                    }
                    .titleBlock {
                        display: flex;
                        padding: 10px 0;
                        justify-content: space-around;
                        align-items: center;
                        .productTitle {
                            @include hannstarH4Title;
                            margin-right: 10px;
                        }
                        img {
                        }
                    }
                    .contentBlock {
                        li {
                            padding: 5px 0;
                        }
                    }
                    .btnBlock {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        .btn {
                            @include hannstarBtn;
                            width: 100px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .partnerBlock,
        .customerBlock {
            margin-bottom: 60px;
            .title {
                @include hannstarH3Title;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}
