@import '../../style/variable.scss';

$pageName: 'PartnerProductList';

.#{$pageName}ContentBlock {
    .filterStateBlock {
        display: flex;
        @include hannstarContentText;
        border-bottom: 4px solid $hannstar-blue2;
        margin: 40px 0;
        .stateTab {
            width: 130px;
            text-align: center;
            cursor: pointer;
            padding: 5px 20px;
            background-color: $hannstar-border-color;
            color: $hannstar-blue2;
            margin-right: 10px;
            &.active,
            &:hover {
                background-color: $hannstar-blue2;
                color: #fff;
            }
        }
    }
    .searchBlock {
        display: flex;
        margin-bottom: 40px;
        input {
            @include hannstarInput;
            border-radius: 4px 0 0 4px;
        }
        .searchBtn {
            padding: 8px 10px;
            background-color: $hannstar-blue2;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
        }
    }
    .deleteBlock {
        margin-bottom: 40px;
        .deleteBtn {
            @include hannstarBtn;
            width: 40px;
        }
    }
    .productListBlock {
        @include hannstarContentText;
        width: 100%;
        td {
            padding: 10px;
            border: 1px solid $hannstar-border-color;
            text-align: start;
            .hannstarCheckBox {
                @include hannstarCheckBox;
                justify-content: center;
                align-items: inherit;
                padding: 0;
                min-height: 20px;
            }
        }
        thead {
            tr {
                background-color: $hannstar-blue2;
                color: #fff;
            }
        }
        tbody {
            tr {
                td {
                    a {
                        color: $hannstar-blue2;
                    }
                    .switchBtn {
                        @include hannstarSwitchBtn;
                    }
                }
            }
        }
    }
}
