@import '../../style/variable.scss';

.milestoneBlock {
    width: 100%;
    padding: 60px 0;
    .title {
        @include hannstarH2Title;
        text-align: center;
    }
    .historyList {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        background: linear-gradient(to bottom, #b1b1b1 2px, transparent 0) 50% 0/2px 8px repeat-y;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 6px;
            height: 6px;
            margin-left: -3px;
            border-radius: 50%;
            background-color: $hannstar-blue2;
        }
        li {
            position: relative;
            display: flex;
            width: 50%;
            box-sizing: border-box;

            .item {
                width: 100%;
                .historyDate {
                    display: flex;
                    align-items: center;
                    justify-content: initial;
                    margin-bottom: 10px;
                }
                .imgBlock {
                    margin-bottom: 10px;
                    border: 6px solid #fff;
                    box-shadow: 0 0 29px rgb(0 0 0 / 10%);
                    transition: all 0.5s ease-out;
                    width: fit-content;
                    img {
                        display: block;
                        max-width: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                }

                h3 {
                    @include hannstarContentText;
                }
            }

            &:nth-child(odd) {
                margin-left: auto;
                padding-left: 60px;
                &::before {
                    left: -15px;
                }
                &::after {
                    left: -3px;
                }
                .historyDate {
                    &::before {
                        content: '>';
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
            }

            &:nth-child(even) {
                margin-right: auto;
                padding-right: 60px;
                text-align: right;
                .historyDate {
                    justify-content: flex-end;
                    &::after {
                        content: '<';
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }
                h3 {
                    text-align: right;
                }

                &::before {
                    right: -15px;
                }
                &::after {
                    right: -3px;
                }
            }
            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                border-radius: 50%;
                top: 5px;
                width: 30px;
                height: 30px;
                border: 1px solid #9adbfa;
                background-color: #fff;
                box-sizing: border-box;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 1;
                border-radius: 50%;
                top: 17px;
                width: 6px;
                height: 6px;
                background-color: #0094da;
                box-sizing: border-box;
            }

            .item {
                .historyDate {
                    display: flex;
                    align-items: center;
                    @include hannstarH2Title;
                    color: $hannstar-blue2;
                }
            }
        }
    }

    @media (max-width: $breakpoint) {
        .historyList {
            background-position-x: 1.5px;
            &::before {
                left: 0;
                margin-left: 0;
            }
            li {
                width: 100%;
                margin-top: 30px;
                &:nth-child(odd) {
                    padding-left: 25px;
                    &::before {
                        left: -12px;
                    }
                    &::after {
                        left: 0px;
                    }
                }
                &:nth-child(even) {
                    padding-left: 25px;
                    padding-right: 0px;

                    &::before {
                        left: -12px;
                    }
                    &::after {
                        left: 0;
                    }
                    .item {
                        .historyDate {
                            &::before {
                                content: '>';
                                font-size: 20px;
                                margin-right: 10px;
                            }
                            &::after {
                                content: '';
                                font-size: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .item {
                    .historyDate {
                        justify-content: left;
                    }
                    h3 {
                        text-align: left;
                        line-height: 1.4;
                    }
                }
                &::before {
                    top: 10px;
                }
                &::after {
                    top: 22px;
                }
            }
        }
    }
}

// breakpoint
