@import '../../style/variable.scss';

.solutionSolutionIntegrationTextBlock {
    background-color: $hannstar-bg-color;
    padding: 80px;
    .title {
        @include hannstarH2Title;
    }
    .content {
        @include hannstarContentText;
        text-align: center;
    }
}
.solutionServiceBlock {
    padding: 80px;
    .title {
        @include hannstarH2Title;
    }
    .solutionImgBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
