@import '../../style/variable.scss';

$componentName: 'Banner';

.#{$componentName}Content {
    position: relative;
    img {
        width: 100%;
        max-height: 400px;
    }
    .textBlock {
        position: absolute;
        width: 500px;
        padding: 40px 60px;
        .title {
            @include hannstarH2Title;
            color: #fff;
            padding-bottom: 32px;
        }
        .text {
            @include hannstarContent1;
            color: #fff;
        }
        &.topRight {
            top: 0;
            right: 0;
        }
        &.topLeft {
            top: 0;
        }
        &.bottomLeft {
            bottom: 0;
        }
        &.bottomRight {
            bottom: 0;
            right: 0;
        }
        &.center {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 600px;
            text-align: center;
            padding: 0;
        }
    }
    @media screen and (max-width: $breakpoint) {
        .textBlock {
            width: 100%;
            max-width: 500px;
            padding: 30px;
            .title {
                @include hannstarH3Title;
                color: #fff;
                padding-bottom: 20px;
            }
        } 
    }
}
