@import '../../style/variable.scss';

.articleList {
    display: grid; 
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 250px 200px ; 
    gap: 20px 20px; 
    grid-template-areas: 
      "content-0 content-1 content-1 content-1 content-2 content-2 content-2"
      "content-0 content-3 content-3 content-4 content-4 content-5 content-5"; 

      .item {
        display: flex;
        position: relative;
        .text{
            color:#FFF;
            position: absolute;
            bottom: 20px;
            left: 10px;
        }
    }
    .content-0 {
    grid-area: content-0;
    }

    .content-1 {
        grid-area: content-1;
    }

    .content-2 {
    grid-area: content-2;
    }

    .content-3 {
    grid-area: content-3;
    }

    .content-4 {
    grid-area: content-4;
    }
    .content-5{
        grid-area: content-5;
    }
    img{
        width:100%;
    }
    @media screen and (max-width: $breakpoint) {
    }
}
