@import '../../style/variable.scss';

.messageCenter {
    display: flex;
    padding: 30px 50px;
    .leftBlock {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        width: 40px;
        .title {
            font-weight: 500;
            font-size: 22px;
            color: #060606;
            text-align: center;
            margin-bottom: 50px;
        }
        .btnBlock {
            display: flex;
            .sliderBtn {
                width: 10px;
                height: 10px;
                border-top: 3px solid #b9b9b9;
                border-right: 3px solid #b9b9b9;
                cursor: pointer;
                &.next {
                    transform: rotate(225deg);
                    margin-right: 5px;
                }
                &.previous {
                    transform: rotate(45deg);
                    margin-left: 5px;
                }
            }
        }
    }
    .rightBlock {
        width: calc(100% - 140px);
        .messageBlock {
            li {
                display: flex;
                align-items: center;
                padding: 15px 0;
                border-top: 1px solid #ddd;
                .tag {
                    padding: 5px 15px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #262626;
                    border-radius: 5px;
                    background-color: #d9d9d9;
                    word-break: keep-all;
                }
                .date {
                    font-weight: 400;
                    color: #8d8d8d;
                    letter-spacing: 1px;
                    margin: 0 20px;
                }
                .title {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    color: #3c3c3c;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    letter-spacing: 0.5pt;
                }
            }
        }
        .moreBtn {
            color: #0094da;
            padding: 5px 20px 5px 20px;
            font-size: 14px;
            position: relative;
            text-align: right;
            display: block;
            &::after {
                content: '';
                position: absolute;
                top: 7px;
                right: 0px;
                width: 8px;
                height: 8px;
                border-top: 1px solid;
                border-right: 1px solid;
                transform: rotate(45deg);
            }
        }
    }
    @media screen and (max-width: $breakpoint) {
        flex-direction: column;
        padding: 20px;
        .leftBlock {
            flex-direction: row;
            margin-right: 0;
            width: 100%;
            .title {
                margin-bottom: 20px;
            }
            .btnBlock {
                display: none;
            }
        }
        .rightBlock {
            width: 100%;
        }
    }
}
