@import "../../style/variable.scss";

$pageName: "MagentoProductCompare";

.#{$pageName}MainContainer {
  padding-top: 40px;
  .table-wrapper {
    overflow-x: scroll;
    table {
      border: 1px solid $hannstar-border-color;
      .table-caption {
        display: none;
      }
      thead {
        tr {
          border: none;
        }
      }
      tr {
        border: 1px solid $hannstar-border-color;
        &:first-child {
          border-top: none;
        }
        th {
          padding: 20px;
          border-right: 1px solid $hannstar-border-color;
          &.cell {
            &.label {
              &.remove {
                span {
                  display: none;
                }
              }
            }
          }
        }
        td {
          border-right: 1px solid $hannstar-border-color;
          padding: 20px;
          text-align: center;
          &.cell {
            &.remove {
              text-align: end;
              a {
                position: relative;
                width: 100%;
                height: 16px;
                display: block;
                cursor: pointer;
                &::after,
                &::before {
                  content: "";
                  position: absolute;
                  right: 16px;
                  height: 20px;
                  width: 2px;
                  background-color: $hannstar-default-text-color;
                  transform: rotate(45deg);
                }
                &::after {
                  transform: rotate(-45deg);
                }
                span {
                  display: none;
                }
              }
            }
            &.attribute {
              p {
                line-height: 1.2;
                margin-bottom: 20px;
              }
            }
          }
          .product-item-name {
            display: block;

            margin-top: 20px;
            a {
              color: $hannstar-blue2;
            }
          }
          .product-reviews-summary {
            display: none;
          }
          .rating-summary {
            display: none;
          }
          .price-box {
            display: none;
          }
          .product-item-actions {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint) {
  }
}
