@import '../../style/variable.scss';

$pageName: 'partner-fcp-product_fcp_product_list';

.#{$pageName}ContentBlock {
    .topBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
        border-bottom: 1px solid $hannstar-border-color;
        .userInfoBlock {
            display: flex;
            .imgBlock {
            }
            .infoBlock {
                .name {
                    @include hannstarH3Title;
                    padding: 10px 0;
                }
                .email {
                    @include hannstarContentText;
                    color: $hannstar-border-color;
                }
            }
        }
        .productCountInfoBlock {
            display: flex;
            .block {
                display: flex;
                flex-direction: column;
                .title {
                    @include hannstarNoteText;
                    padding: 20px;
                }
                .count {
                    @include hannstarH3Title;
                    width: 100%;
                    text-align: center;
                    padding: 15px 0;
                    border-right: 1px solid $hannstar-border-color;
                    &.total {
                        color: $hannstar-blue1;
                    }
                    &.productOff {
                        color: $hannstar-green;
                    }
                    &.productOn {
                        color: $hannstar-red;
                    }
                }
            }
        }
    }
    .productToolBar {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        .leftBlock {
            display: flex;
            .linkBtn {
                @include hannstarBtn;
                margin-right: 20px;
            }
        }
        .rightBlock {
            select {
                @include hannstarSelect;
                min-width: 150px;
            }
        }
    }
    .formTopBlock {
        margin-bottom: 40px;
        .title {
            @include hannstarH3Title;
            color: $hannstar-blue1;
            margin-bottom: 40px;
        }
        .searchBlock {
            display: flex;
            width: 300px;
            input {
                @include hannstarInput;
            }
            .searchBtn {
                @include hannstarBtn2;
                margin-left: 20px;
            }
        }
    }
    .filterStateBlock {
        display: flex;
        @include hannstarContentText;
        border-bottom: 3px solid $hannstar-blue1;
        margin-bottom: 10px;
    }
    .paginatedForm {
        .productListTable {
            @include hannstarContentText;
            width: 100%;
            td {
                padding: 5px 10px;
                border: 1px solid $hannstar-border-color1;
                text-align: center;
            }
            thead {
                tr {
                    background-color: $hannstar-blue1;
                    color: #fff;
                }
            }
        }
        .pagination {
            display: flex;
            margin-top: 40px;
            .page-item {
                margin: 0 10px;
                cursor: pointer;
                border: 1px solid $hannstar-border-color1;
                border-radius: 4px;
                a {
                    display: inline-block;
                    padding: 10px;
                }
                &.active {
                    color: #fff;
                    background-color: $hannstar-blue2;
                }
            }
            .pageNext,
            .pagePrevious {
                position: relative;
                margin-left: 10px;
                cursor: pointer;
                border: 1px solid $hannstar-border-color1;
                border-radius: 4px;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 13px;
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid $hannstar-blue2;
                    border-right: 2px solid $hannstar-blue2;
                }
                a {
                    display: inline-block;
                    padding: 15px;
                }
            }
            .pagePrevious {
                margin: 0 10px 0 0;
                &::after {
                    transform: translate(-50%, -50%) rotate(225deg);
                    left: 16px;
                }
            }
        }
    }
}
