@import '../../style/variable.scss';

$pageName: 'PartnerIndex';

.#{$pageName}TextBlock,
.#{$pageName}TextBtnBlock {
    background-color: $hannstar-bg-color;
    padding: 80px;
    .title {
        @include hannstarH2Title;
    }
    .content {
        @include hannstarContentText;
        text-align: center;
    }
    .btnBlock {
        margin-top: 80px;
        text-align: center;
        .learnMoreBtn {
            @include hannstarBtn;
            display: inline-block;
        }
    }
}

.#{$pageName}ServiceBlock {
    .title {
        @include hannstarH2Title;
    }
}

.#{$pageName}ManagementStrategyBlock {
    text-align: center;
}
