@import '../../style/variable.scss';

$componentName: 'TabProductList';

.#{$componentName}Content {
    .tabContent {
        display: flex;
        @include hannstarContentText;
        border-bottom: 4px solid $hannstar-blue3;
        margin: 40px 0;
        .tab {
            width: 130px;
            text-align: center;
            cursor: pointer;
            padding: 5px 20px;
            background-color: $hannstar-border-color;
            color: $hannstar-blue3;
            margin-right: 10px;
            &.active,
            &:hover {
                background-color: $hannstar-blue3;
                color: #fff;
            }
        }
    }

    .productListBlock {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
        .productBlock {
            display: inline-block;
            border-bottom: 2px solid $hannstar-border-color;
            padding-bottom: 20px;
            .imgBlock {
                margin-bottom: 10px;
                border: 6px solid #fff;
                box-shadow: 0 0 29px rgb(0 0 0 / 10%);
                img {
                    width: 100%;
                }
            }
            .contentWrap {
                padding: 16px;
                .productTitle {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .productContent {
                    font-size: 16px;
                    height:120px;
                    word-wrap: break-word;
                    list-style: circle;
                    line-height: 1.6;
                }
                .btnBlock {
                    align-items: center;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 16px;
                    .btn1 {
                        width: 100%;
                        @include hannstarBtn2;
                        margin: 5px 0;
                    }
                    .btn2 {
                        width: 100%;
                        @include hannstarBtn2;
                        margin: 5px 0;
                        //@include hannstarBtn;
                    }
                }
            }
        }
    }
}

.#{$componentName}Content {
    @media screen and (max-width: $breakpoint) {
        .productListBlock {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            grid-gap: 10px;
        }
    }
}
