@import "../../style/variable.scss";

.graphicsCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  .cardBlock {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .imgBlock {
      position: relative;
      padding-bottom: 56.2%;
      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .contentWrap {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .textBlock {
        text-align: center;
        .title {
          font-size: 24px;
          color: #039be5;
          font-weight: 700;
        }
        .content {
          font-size: 16px;
          color: #000;
          text-align: center;
          padding: 20px 0;
          line-height: 1.8;
        }
      }
      .btnBlock {
        color: #fff;
        background-color: #039be5;
        border-radius: 5px;
        padding: 10px 10px;
        text-align: center;
        width: 150px;
      }
    }
  }
  @media screen and (max-width: $breakpoint) {
  }
}
