@import "../../style/variable.scss";

$componentName: "GraphicsCard";

.#{$componentName}Content {
  display: grid;
  grid-gap: 60px;
  &.row2 {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
  }
  &.row3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.row4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .cardBlock {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    &.Theme2,
    &.Theme3 {
      box-shadow: none;
    }
    .imgBlock {
      position: relative;
      padding-bottom: 66.6%;
      img {
        position: absolute;
        // object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .contentWrap {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      &.Theme2 {
        padding: 40px 0;
        .textBlock {
          text-align: left;
        }
      }
      &.Theme3 {
        padding: 40px 0;
        .textBlock {
          text-align: left;
        }
        .btnBlock {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          margin-top: 15px;
          .btn {
            text-align: left;
            padding: 0;
            background: none;
            color: $hannstar-blue2;
            display: inline-block;
            // width: 40%;
            &::after {
              content: "";
              margin-left: 5px;
              border: solid $hannstar-blue2;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 3px;
              margin-bottom: 1px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
            }
            &:hover {
              background-color: transparent;
              color: $hannstar-blue3;
              &::after {
                border: solid $hannstar-blue3;
                border-width: 0 1px 1px 0;
              }
            }
          }
        }
      }
      .textBlock {
        text-align: center;
        .title {
          @include hannstarH3Title;
          color: $hannstar-blue2;
          &.Theme2 {
            color: $hannstar-green1;
          }
        }
        .content {
          @include hannstarContent1;
          padding-top: 10px;
        }
      }
      .btnBlock {
        margin-top: 15px;
        .btn {
          @include hannstarBtn;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint) {
    grid-gap: 30px;
    &.row2 {
      grid-template-columns: repeat(1, 1fr);
    }
    &.row3 {
      grid-template-columns: repeat(1, 1fr);
    }
    &.row4 {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardBlock {
    }
  }
}
