@import '../../style/variable.scss';

$componentName: 'GraphicsCard';

.#{$componentName}Content {
    display: grid;
    grid-gap: 40px;
    &.row3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &.row4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .cardBlock {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
        &.Theme2 {
            box-shadow: none;
        }
        .imgBlock {
            position: relative;
            padding-bottom: 56.2%;
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .contentWrap {
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            &.Theme2 {
                padding: 40px 0;
                .textBlock {
                    text-align: left;
                }
            }
            .textBlock {
                text-align: center;
                .title {
                    @include hannstarH3Title;
                    color: $hannstar-blue2;
                    &.Theme2 {
                        color: $hannstar-green1;
                    }
                }
                .content {
                    @include hannstarContent0;
                    padding: 20px 0;
                }
            }
            .btnBlock {
                @include hannstarBtn;
            }
        }
    }
    @media screen and (max-width: $breakpoint) {
    }
}
