@import '../../style/variable.scss';

$componentName: 'Graphics3';

.#{$componentName}Content {
    .graphicsBlock {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .imgBlock {
            width: 50%;
            text-align: center;
        }
        .textBlock {
            width: 50%;
            padding: 32px;
            .title {
                @include hannstarH4Title;
                padding-bottom: 32px;
            }
            .content {
                @include hannstarContent1;
                padding-bottom: 32px;
            }
            .linkBtn {
                @include hannstarBtn;
            }
        }
    }
    @media screen and (max-width: $breakpoint) {
        .graphicsBlock {
            flex-direction: column;
            &:nth-child(odd) {
                flex-direction: column;
            }
            &:last-child {
            flex-direction: column;
            }
            .imgBlock{
                width: 100%;
            }
            .textBlock{
                width: 100%;
                padding: 20px 0px;
                .title{
                    padding-bottom: 15px;
                }
                .content {
                    padding-bottom: 0;
                }
            }
        }
    }
}
