@import '../../style/variable.scss';

$componentName: 'Graphics3';

.#{$componentName}Content {
    .graphicsBlock {
        display: flex;
        align-items: center;
        background-color: $hannstar-bg-color;
        margin-bottom: 40px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 50%;
        }
        .textBlock {
            width: 50%;
            padding: 32px;
            .title {
                @include hannstarH3Title;
                padding-bottom: 32px;
            }
            .content {
                @include hannstarContent0;
                padding-bottom: 32px;
            }
            .linkBtn {
                @include hannstarBtn;
            }
        }
    }
    @media screen and (max-width: $breakpoint) {
    }
}
