@import '../../style/variable.scss';

.bannerTextBlock {
    .textBlock {
        padding: 100px 20px;
        width: 430px;
        .title {
            @include hannstarH2Title;
            text-align: left;
            color: #fff;
            padding-bottom: 50px;
        }
        .content {
            @include hannstarContentText;
            color: #fff;
        }
    }
}
