.bannerTextBlock {
    .textBlock {
        padding: 100px 20px;
        width: 430px;
        .title {
            font-size: 32px;
            font-weight: 500;
            color: #fff;
            padding-bottom: 50px;
        }
        .content {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.8;
            color: #fff;
        }
    }
}
