@import '../../style/variable.scss';

.e-bizAboutTextBlock {
    background-color: $hannstar-bg-color;
    padding: 80px;
    .title {
        @include hannstarH2Title;
    }
    .content {
        @include hannstarContentText;
        text-align: center;
    }
}

.e-bizServiceBlock,
.e-bizRequestTexBlock {
    .title {
        @include hannstarH2Title;
    }
}
