@import "../../style/variable.scss";

.hannstarRoot {
  font-family: Microsoft JhengHei;
  .hannstarMain {
    margin: 0 auto;
    font-size: 16px;
    margin-top: 80px;
    box-sizing: border-box;
    max-width: $max-width;
    min-height: calc(100vh - 539px);
    padding: 0 80px 80px;
    @media screen and (max-width: $breakpoint) {
      margin-top: 60px;
      padding: 0 30px 30px;
    }
  }
}
