@import "../../style/variable.scss";

$pageName: "TFTPreferredProduct";

.#{$pageName}MainContainer {
  padding-top: 40px;
  .leftMagentoBlock {
    .sidebar {
      .block {
        &.filter {
          .block-title {
            &.filter-title {
              padding-bottom: 20px;
            }
          }
          .block-content {
            &.filter-content {
              .filter-current {
                //搜尋條件
                padding-bottom: 20px;
                .block-subtitle {
                  &.filter-current-subtitle {
                    padding-bottom: 20px;
                  }
                }
                .items {
                  margin-top: 20px;
                  .item {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 10px;
                    .filter-label {
                      font-weight: bolder;
                      display: block;
                    }
                    .filter-value {
                      display: block;
                      padding-left: 10px;
                      // padding-top: 10px;
                      // font-size: 14px;
                    }
                    .action {
                      &.remove {
                        &::after,
                        &::before {
                          position: absolute;
                          left: 6px;
                          top: 2px;
                          content: "";
                          height: 15px;
                          width: 1px;
                          background-color: $hannstar-default-text-color;
                          transform: rotate(45deg);
                        }
                        &::after {
                          transform: rotate(-45deg);
                        }
                        span {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
              .block-actions {
                &.filter-actions {
                  padding-bottom: 20px;
                  a {
                    color: $hannstar-blue3;
                  }
                }
              }
              .block-subtitle {
                &.filter-subtitle {
                }
              }
              .filter-options {
                margin-top: 20px;
                .filter-options-item {
                  cursor: pointer;
                  border-bottom: 1px solid $hannstar-border-color;
                  padding: 10px 0;
                  .filter-options-title {
                    position: relative;
                    &::after {
                      position: absolute;
                      right: 20px;
                      content: "";
                      width: 8px;
                      height: 8px;
                      border-top: 1px solid $hannstar-default-text-color;
                      border-right: 1px solid $hannstar-default-text-color;
                      transform: rotate(135deg);
                      margin-bottom: 5px;
                    }
                  }
                  &.active {
                    .filter-options-title {
                      &::after {
                        transform: rotate(-45deg);
                        margin-bottom: 5px;
                      }
                    }
                    .filter-options-content {
                      display: block;
                      padding-top: 10px;
                      .items {
                        .item {
                          padding: 5px 0;
                          a {
                            @include hannstarContent2;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .rightMagentoBlock {
    padding-left: 40px;
    .products-list {
      table {
        border: 1px solid $hannstar-border-color;
        thead {
          tr {
            background-color: $hannstar-blue2;
            td {
              @include hannstarH4Title;
              color: #fff;
              padding: 10px;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            td {
              &:first-child {
                width: 30%;
              }
              &:last-child {
                width: 20%;
              }
              vertical-align: top;
              border: 1px solid $hannstar-border-color;
              padding: 20px;
              img {
                width: 100%;
                height: auto;
              }
              .product-item-details {
                .product-item-inner {
                  .product-item-actions {
                    .actions-primary {
                      .hannstar_product_detail_block {
                        .product-item-name {
                          margin-bottom: 20px;
                          a {
                            @include hannstarH4Title;
                          }
                        }
                        .hannstar_product_text {
                          @include hannstarContent1;
                        }
                      }
                      .hannstar_product_specification_block {
                        .hannstar_specification_text {
                          @include hannstarContent1;
                        }
                      }
                    }
                  }
                }
              }
              .towishlist,
              .compare {
                display: block;
                @include hannstarBtn;
                margin-bottom: 25px;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  // .rightMagentoBlock {
  //   padding-left: 80px;
  //   .products-list {
  //     &.wrapper {
  //       &.list {
  //         &.products-list {
  //           border: 1px solid $hannstar-border-color;
  //           ol {
  //             li {
  //               border-bottom: 1px solid $hannstar-border-color;
  //               &.hannstar_product_header {
  //                 display: flex;
  //                 background-color: $hannstar-blue2;
  //                 .header_text {
  //                   width: 50%;
  //                   color: #fff;
  //                   padding: 10px 0;
  //                   text-align: center;
  //                   &:first-child,
  //                   &:last-child {
  //                     width: 25%;
  //                   }
  //                 }
  //               }
  //               .product-item-info {
  //                 display: flex;
  //                 .product-item-photo {
  //                   width: 25%;
  //                   border-right: 1px solid $hannstar-border-color;
  //                   padding: 20px;
  //                   img {
  //                     width: 100%;
  //                     height: auto;
  //                   }
  //                 }
  //                 .product-item-details {
  //                   width: 75%;
  //                   .product-item-inner {
  //                     display: flex;
  //                     .product-item-actions {
  //                       .actions-primary {
  //                         display: flex;
  //                         width: 100%;
  //                         .hannstar_product_detail_block {
  //                           padding: 20px;
  //                           width: 50%;
  //                           border-right: 1px solid $hannstar-border-color;
  //                           .product-item-name {
  //                             font-size: 20px;
  //                             padding-bottom: 10px;
  //                             a {
  //                               color: $hannstar-default-text-color;
  //                             }
  //                           }
  //                           .hannstar_product_text {
  //                             padding: 5px 0;
  //                           }
  //                         }
  //                         .hannstar_product_specification_block {
  //                           padding: 20px;
  //                           width: 50%;
  //                           border-right: 1px solid $hannstar-border-color;
  //                           .hannstar_specification_text {
  //                             padding: 5px 0;
  //                           }
  //                         }
  //                       }
  //                     }
  //                     .product-item-description {
  //                       padding: 20px;
  //                       a {
  //                         display: block;
  //                         @include hannstarBtn;
  //                         margin-bottom: 10px;
  //                       }
  //                     }
  //                   }
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: $breakpoint) {
    padding-top: 20px;
    .leftMagentoBlock {
      margin-bottom: 40px;
    }
    .rightMagentoBlock {
      padding: 0;
    }
  }
}
