@import "../../../style/variable.scss";

$pageName: "StepFive";

.#{$pageName}ContentBlock {
  margin-bottom: 80px;
  .#{$pageName}Title {
    @include hannstarH3Title;
    color: $hannstar-blue1;
    margin-bottom: 40px;
  }
}
