@import '../../style/variable.scss';

$pageName: 'AccountApplication';

.#{$pageName}Content {
    .mainTitle {
        @include hannstarH2Title;
    }
    .rankTypeContent {
        .subTitle {
            @include hannstarH4Title;
        }
        .rankContent {
            display: flex;
            align-items: center;
            .rankCard {
                border: 1px solid $hannstar-border-color;
                padding: 20px 30px;
                text-align: center;
                .rankImg {
                    margin-bottom: 20px;
                }
                .rankText {
                    margin-bottom: 20px;
                }
                .rankName {
                    display: inline-flex;
                    align-items: center;
                }
            }
            .arrowBlock {
                margin: 0 20px;
            }
        }
    }
    .captionContent {
        .subTitle {
            @include hannstarH4Title;
        }
        .listBlock {
            display: flex;
            .leftBlock,
            .rightBlock {
                .captionIcon {
                    text-align: centers;
                    .titleText {
                        @include hannstarH4Title;
                        color: $hannstar-blue1;
                    }
                    img {
                    }
                }
                .textListBlock {
                    .topBlock {
                        .textTitle {
                            @include hannstarH4Title;
                        }
                        .captionList {
                            li {
                                display: flex;
                                img {
                                    width: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
