@import "../../style/variable.scss";

.strongholdBlock {
  display: flex;
  .leftBlock {
  }
  .rightBlock {
    .contentBlock {
      .titleBlock {
        @include hannstarH4Title;
        font-weight: 700;
      }
      .addressBlock {
        border-bottom: 1px solid $hannstar-other-text-color;
        .title {
          font-size: 16px;
          font-weight: 600;
          color: $hannstar-other-text-color;
        }
        .content {
        }
      }
      .phoneBlock {
        .title {
          font-size: 16px;
          font-weight: 600;
          color: $hannstar-other-text-color;
        }
        .content {
        }
      }
    }
  }
}
