@import '../../style/variable.scss';

.paginatedBlock {
    .toolbarBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        .pagination {
            display: flex;
            margin-right: 80px;
            .page-item {
                cursor: pointer;
                border: 1px solid $hannstar-bg-color;
                a {
                    display: inline-block;
                    padding: 15px;
                }
                &.active {
                    color: #fff;
                    background-color: $hannstar-blue2;
                }
            }
            .pageNext,
            .pagePrevious {
                position: relative;
                background-color: $hannstar-bg-color;
                cursor: pointer;
                border: 1px solid $hannstar-bg-color;
                border-radius: 4px;
                width: 38px;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 16px;
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid $hannstar-default-text-color;
                    border-right: 2px solid $hannstar-default-text-color;
                }
                a {
                    display: inline-block;
                    padding: 15px;
                }
            }
            .pagePrevious {
                &::after {
                    transform: translate(-50%, -50%) rotate(225deg);
                    left: 20px;
                }
            }
        }
        .selectPageBlock {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            .text {
                width: 85px;
                word-break: keep-all;
            }
            select {
                @include hannstarSelect;
                width: 60px;
                margin: 0 20px;
            }
        }
    }
}
