$max-width: 1400px;
$breakpoint: 980px;
$hannstar-blue1: #039be5;
$hannstar-blue2: #0959a2;
$hannstar-blue3: #082e74;
$hannstar-orange: #ffa000;
$hannstar-bg-color: #efefef;
$hannstar-default-text-color: #363636;
$hannstar-other-text-color: #929292;
$hannstar-border-color: #b9b9b9;
$hannstar-red: #dc3545;
$hannstar-green: #28a745;

@mixin hannstarH1Title {
    color: $hannstar-default-text-color;
    font-size: 36px;
    font-weight: 900;
}

@mixin hannstarH2Title {
    color: $hannstar-default-text-color;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center;
}

@mixin hannstarH3Title {
    color: $hannstar-default-text-color;
    font-size: 24px;
    font-weight: 500;
}

@mixin hannstarH4Title {
    color: $hannstar-default-text-color;
    font-size: 20px;
    font-weight: 500;
}

@mixin hannstarContentText {
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}

@mixin hannstarNoteText {
    color: #363636;
    font-size: 14px;
    font-weight: 400;
}

@mixin hannstarBtn {
    background-color: $hannstar-blue1;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
        background-color: $hannstar-blue3;
    }
}

@mixin hannstarInput {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: solid 1px $hannstar-border-color;
    background-color: #fff;
    color: $hannstar-default-text-color;
    &::placeholder {
        color: $hannstar-border-color;
    }
    &:hover {
        border: solid 1px $hannstar-default-text-color;
    }
    &:focus,
    &:focus-visible {
        outline: none;
        border: solid 1px $hannstar-default-text-color;
    }
}

@mixin hannstarRadio {
    display: flex;
    padding-bottom: 8px;
    align-items: center;
    input[type='radio']:checked,
    input[type='radio']:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    input[type='radio']:checked + label,
    input[type='radio']:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $hannstar-default-text-color;
        font-size: 18px;
    }
    input[type='radio']:checked + label:before,
    input[type='radio']:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $hannstar-border-color;
        border-radius: 100%;
    }
    input[type='radio']:checked + label:after,
    input[type='radio']:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: $hannstar-default-text-color;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    input[type='radio']:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    input[type='radio']:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@mixin hannstarCheckBox {
    display: flex;
    padding-bottom: 8px;
    align-items: center;
    input[type='checkbox']:checked,
    input[type='checkbox']:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    input[type='checkbox']:checked + label,
    input[type='checkbox']:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: $hannstar-default-text-color;
    }
    input[type='checkbox']:checked + label:before,
    input[type='checkbox']:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $hannstar-border-color;
        border-radius: 3px;
    }
    input[type='checkbox']:checked + label:after,
    input[type='checkbox']:not(:checked) + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 8px;
        width: 5px;
        height: 11px;
        border: solid $hannstar-default-text-color;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    input[type='checkbox']:not(:checked) + label:after {
        opacity: 0;
    }
    input[type='checkbox']:checked + label:after {
        opacity: 1;
    }
}

@mixin hannstarSelect {
    overflow: hidden;
    width: 100%;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: solid 1px $hannstar-border-color;
    background-color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURUdwTCIiIigoKCIiIiYmJiIiIi0tLSIiIiQkJCIiIt46NpcAAAAJdFJOUwDZJpVE7hG7aqeRgzAAAAAtSURBVAjXY2AgCTDPBAIDEKty5szpYKHEmTPFwAymyKkKEFWeU6DKORoYSAQAySII+PoRspAAAAAASUVORK5CYII=)
        no-repeat center transparent;
    background-position-x: calc(100% - 10px);
    @include hannstarContentText;
    line-height: 1;
    &:hover {
        border: solid 1px $hannstar-default-text-color;
    }
    &:focus,
    &:focus-visible {
        outline: none;
        border: solid 1px $hannstar-default-text-color;
    }
}
