@import '../../style/variable.scss';

$pageName: 'AccountPersonal';

.#{$pageName}ApplyTitle {
    @include hannstarH2Title;
    padding: 0 80px;
}

.#{$pageName}FormBlock {
    padding: 0 80px;

    .formTitle {
        @include hannstarH2Title;
    }
    .classificationBlock {
        display: flex;
        margin-bottom: 60px;
        .changTab {
            margin-right: 80px;
        }
    }
    .stepTitle {
        @include hannstarH4Title;
        margin-bottom: 20px;
    }
    .columnRow {
        .columnBlock {
            width: 50%;
            display: inline-block;
            .title {
                @include hannstarContentText;
                word-break: keep-all;
                min-height: 28.8px;
                &.required {
                    &::after {
                        content: '*';
                        color: $hannstar-orange1;
                        padding-left: 5px;
                    }
                }
            }
            .bodyBlock {
                display: flex;
                flex-wrap: wrap;
                input[type='text'] {
                    @include hannstarInput;
                }

                select {
                    @include hannstarSelect;
                }
            }
        }
    }
    .btnBlock {
        display: flex;
        justify-content: center;
        margin: 80px 0;
        .goBack,
        .confirm {
            @include hannstarBtn;
            text-align: center;
            margin-right: 40px;
        }
    }
}
