@import "../../style/variable.scss";

$componentName: "ImgGrid";

.#{$componentName}Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  .#{$componentName}Img {
    width: 100%;
  }
}
