@import "../../style/variable.scss";

$componentName: "ImgGrid";

.#{$componentName}Content {
  display: grid;
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  &.row-3{
    grid-template-columns: repeat(3, 1fr);
  }
  &.row-4{
    grid-template-columns: repeat(4, 1fr);
  }
  &.row-5{
    grid-template-columns: repeat(5, 1fr);
  }
  .#{$componentName}Img {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: $breakpoint) {
  .#{$componentName}Content {
    display: grid;
    grid-gap: 30px;
    &.row-3{
      grid-template-columns: repeat(2, 1fr);
    }
    &.row-4{
      grid-template-columns: repeat(2, 1fr);
    }
    &.row-5{
      grid-template-columns: repeat(1, 1fr);
    }
    .#{$componentName}Img {
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
    }
  }
}