@import '../../style/variable.scss';

.footer {
    background-color: $hannstar-blue3;
    .topBlock {
        display: flex;
        justify-content: space-between;
        padding: 70px 80px;
        max-width: 1400px;
        margin: 0 auto;
        .content{
            flex: 1;
            .linkBlock {
            
                font-size: 16px;
                font-weight: bolder;
    
                .title {
                    padding-bottom: 15px;
                    h3{
                        margin-bottom: 5px;
                    }
                    a {
                        color: #fff;
                    }
                }
                .text {
                    padding-bottom: 10px;
                    font-weight: 400;
                    a {
                        color: $hannstar-blue0;
                    }
                }
            }
        }

    }
    .topBlock_m {
        display: none;
    }
    .bottomBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(280deg, $hannstar-blue2 0%, $hannstar-blue3 60%, $hannstar-blue4 100%);
        height: 80px;
        padding: 0 80px;
        .logogBlock {
            display: flex;
            align-items: center;
            .footerMenu {
                display: flex;
                align-items: center;
                margin-left: 50px;
                .text {
                    padding: 0 10px;
                    font-size: 13px;
                    color: #fff;
                    border-right: 1px solid #fff;
                    word-break: keep-all;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
        .copyright {
            font-size: 13px;
            font-family: 'Noto Sans TC', sans-serif;
            color: #fff;
        }
    }
    @media screen and (max-width: $breakpoint) {
        .topBlock {
            display: none;
        }
        .topBlock_m {
            display: block;
            .collapseBlock{
                .itemList{
                    padding: 0 30px;
                    .itemLi{
                        border-bottom: 1px solid #FFF;
                        &:last-of-type{
                            border: none;
                        }
                        .liContent{
                            padding: 20px 0;
                            color: #FFF;
                        }
                        .secItemList{
                            padding: 0;
                            .footerLink{
                                padding: 0px 0px 15px 0px;
                                color: $hannstar-blue0;
                            }
                            
                        }
                    }
                } 
            } 
            .footerH3 {
            }
            .footerLink {
                display: block;
                padding: 5px 0;
                color: $hannstar-other-text-color;
            }
            .pageLinkList {
                display: none;
                &.open {
                    display: block;
                }
            }
        }
        .bottomBlock {
            flex-direction: column;
            height: auto;
            padding-bottom: 30px;
            .logogBlock {
                flex-direction: column;
                padding: 30px 0;
                .logo {
                    padding-bottom: 30px;
                }
                .footerMenu {
                    margin: 0px;
                }
            }
        }
    }
}
