@import '../../style/variable.scss';


.TabBlock {
    ul{
        display: flex;
        justify-content: space-between;
        @include hannstarContent3;
        li {
            text-align: center;
            padding: 5px 7px;
            cursor: pointer;
            float: left;
            display: inline-flex;
            background-color: $hannstar-bg-color;
            &.active {
                color: #FFF;
                background: $hannstar-blue2;
            }
        }
    }
}
