@import "../../style/variable.scss";
.formComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
  &.oneRow {
    display: flex;
    justify-content: space-between;
  }
  .columnBlock {
    width: 100%;
    .title {
      @include hannstarContentText;
      word-break: keep-all;
    }
    .bodyBlock {
      display: flex;
      flex-wrap: wrap;
      input[type="text"] {
        @include hannstarInput;
      }

      select {
        @include hannstarSelect;
      }

      .hannstarRadio {
        @include hannstarRadio;
      }

      .hannstarCheckBox {
        @include hannstarCheckBox;
      }
      &.checkbox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-auto-rows: 20px;
        grid-gap: 20px;
      }
    }
  }
}
