<div class="emailFooter">
    <div class="topBlock">
        <div class="titleBlock">
            <h3>瀚宇彩晶股份有限公司</h3>
            <div class="copyright">© 2022 Hannstar.All Rights Reserved</div>
        </div>
        <div class="linkBlock">
            <a href="/">聯繫客服</a>
            <a href="/">常見問題</a>
            <a href="/">隱私權政策</a>
            <a href="/">取消訂閱</a>
        </div>
    </div>
    <div class="bottomBlock">
        <div>本信件為系統自動發送請勿直接回覆</div>
        <div>This letter is sent automatically. Please do not reply directly.</div>
    </div>
</div>
