.platformEntryBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
    padding-top: 30px;
    .item {
        padding: 10px 20px;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
                margin: 0 20px;
            }
            h2 {
                font-weight: 500;
                color: #fff;
                font-size: 17px;
            }
        }
        &.style0 {
            background-color: #96d5f3;
        }
        &.style1 {
            background-color: #81d4fa;
        }
        &.style2 {
            background-color: #4fc3f7;
        }
        &.style3 {
            background-color: #29b6f6;
        }
        &.style4 {
            background-color: #039be5;
        }
        &.style5 {
            background-color: #0277bd;
        }
        &:hover {
            transition: background-color 500ms linear;
            background-color: #222;
        }
    }
}
