@import "../../style/variable.scss";

.platformEntryBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  padding-top: 30px;
  &.row {
    grid-template-columns: repeat(1, 1fr);
  }
  &.odd {
    .item {
      &:last-child {
        grid-column: 1 / 3;
      }
    }
  }
  .item {
    padding: 10px 20px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      img {
        margin: 0 20px;
      }
      .platformTitle {
        @include hannstarContentText;
        line-height: 1;
        color: #fff;
      }
    }
    &.style0 {
      background-color: #96d5f3;
    }
    &.style1 {
      background-color: #81d4fa;
    }
    &.style2 {
      background-color: #4fc3f7;
    }
    &.style3 {
      background-color: #29b6f6;
    }
    &.style4 {
      background-color: $hannstar-blue1;
    }
    &.style5 {
      background-color: $hannstar-blue2;
    }
    &.style6 {
      background-color: $hannstar-blue3;
    }
    &:hover {
      transition: background-color 500ms linear;
      background-color: $hannstar-default-text-color;
    }
  }
}
