@import '../../style/variable.scss';

$pageName: 'PartnerGreenSupplyChain';

.#{$pageName}ContentBlock {
    .achievementBlock {
        text-align: center;
        margin-bottom: 120px;
        .title {
            @include hannstarH1Title;
            padding: 32px 0;
            text-align: center;
        }
        .content {
            display: flex;
            justify-content: space-between;
            padding: 32px 0;
            img {
                padding: 32px;
            }
        }
        .reportBtn {
            @include hannstarBtn2;
            color: $hannstar-green1;
            border-color: $hannstar-green1;
        }
    }
    .tabContent {
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 5px solid #e8f5e5;
        .tab {
            img {
                width: 100%;
            }
            &.active,
            &:hover {
                background-color: #e8f5e5;
            }
        }
    }
    .#{$pageName}TabContent {
        padding-bottom: 32px;
        border-bottom: 5px solid #e8f5e5;
        .TitleContentContent {
            padding-bottom: 32px;
            border-bottom: 5px solid #e8f5e5;
        }
        .RBA {
            text-align: center;
            padding-bottom: 32px;
            border-bottom: 5px solid #e8f5e5;
            .title {
                @include hannstarH1Title;
                padding: 32px 0;
                text-align: center;
            }
            img {
                padding: 32px 0;
            }
            .text {
                @include hannstarContent0;
                padding-bottom: 60px;
            }
        }
    }
    .#{$pageName}DownloadBlock {
        .title {
            @include hannstarH1Title;
            padding: 32px 0;
            text-align: center;
        }
        table {
            width: 100%;
            @include hannstarContent0;
            border: 1px solid $hannstar-border-color;
            text-align: center;
            thead {
                background-color: $hannstar-green1;
                color: #fff;
                tr {
                    td {
                        padding: 20px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 20px;
                        border: 1px solid $hannstar-border-color;
                    }
                }
            }
        }
    }
}
