@import "../../style/variable.scss";

$pageName: "partner-fcp-product-prog-fcp-product-cost-inventory";

.#{$pageName}ContentBlock {
  padding-bottom: 80px;
  .topBlock,
  .bottomBlock {
    padding-bottom: 40px;
    .mainTitle {
      @include hannstarH2Title;
      text-align: left;
      padding: 40px 0;
    }
    .contentBlock {
      display: flex;
      justify-content: space-between;
      .leftBlock,
      .rightBlock {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          @include hannstarH3Title;
          margin-bottom: 40px;
        }
        .downloadBtn,
        .uploadBtn {
          @include hannstarBtn;
          display: inline-block;
          margin-right: 20px;
        }
        .uploadInput {
          font-size: 16px;
        }
      }
    }
  }
}
