@import '../../style/variable.scss';

$pageName: 'ServiceTechnicalSupport';

.#{$pageName}ContentBlock {
    .articleSelect {
        @include hannstarSelect;
        width: 120px;
        margin-bottom: 30px;
    }
}
