@import "../../../style/variable.scss";

$pageName: "StepFour";

.#{$pageName}ContentBlock {
  margin-bottom: 80px;
  .#{$pageName}Title {
    @include hannstarH3Title;
    color: $hannstar-blue1;
    margin-bottom: 40px;
  }
  .uploadBlock {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .title {
      @include hannstarH4Title;
      width: 25%;
    }
    input {
      width: 25%;
    }
    .uploadBtn {
      @include hannstarBtn;
      margin-right: 20px;
    }
    .text {
      @include hannstarNoteText;
      width: 25%;
      color: $hannstar-red;
    }
  }
  .noteBlock {
    @include hannstarContentText;
  }
  .btnBlock {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .formBtn {
      @include hannstarBtn;
      margin-right: 40px;
    }
  }
}
