@import '../../style/variable.scss';

$pageName: 'MFAQRCode';

.#{$pageName} {
    display: flex;
    align-items: center;
    flex-direction: column;

    .#{$pageName}Content {
        @include hannstarBlockPadding;
        display: flex;
        width: 100%;
        background-color: #fff;
        .contentBlock {
            display: inline-flex;
            width: 70%;
            flex-direction: row;
            margin: 0 auto;
            .titleContent {
                width: 50%;
                display: inline-flex;
                flex-direction: column;
                align-items: start;
                @include hannstarContent1;
                .mainTitle {
                    @include hannstarH2Title;
                    text-align: center;
                    margin-bottom: 25px;
                }
                span{
                    color: $hannstar-blue2;
                }
                .stepGuide {
                    @include hannstarBtn;
                    margin-top: 20px;
                    border-radius: 0;
                    background-color: $hannstar-blue3;
                }
            }
            .imgContent {
                width: 50%;
                display: inline-flex;
            }
        }
    }
    .#{$pageName}StepContent {
        @include hannstarBlockPadding;
        display: flex;
        width: 100%;
        background-color: $hannstar-bg-color;
        .contentBlock {
            display: inline-flex;
            width: 70%;
            flex-direction: column;
            align-items: start;
            margin: 0 auto;
            .subTitle {
                @include hannstarH3Title;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 25px;
            }
            .content {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                .step {
                    display: inline-flex;
                    align-items: center;
                    flex-direction: column;
                    width: 27%;
                    height: auto;
                    padding: 20px;
                    box-shadow: 0 0 15px $hannstar-border-color;
                    min-height: 260px;
                    .stepDescription{
                        width: 100%;
                        height: 70px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-bottom: 1px solid $hannstar-border-color;
                        justify-content: center;
                        .stepNum{
                            width: 30px;
                            height: 30px;
                            display: inline-flex;
                            align-items: center;
                            color: #fff;
                            font-size: 20px;
                            background-color: $hannstar-blue3;
                            border-radius: 50%;
                            justify-content: center;
                            margin-right: 5px;
                        }
                        .description {
                            @include hannstarContent1;
                        }
                    }

                    .stepExample {
                        @include hannstarContent2;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        padding-top: 20px;
                        text-align: center;
                        img {
                            margin-bottom: 20px;
                        }
                        .note {
                            color: $hannstar-blue2;
                        }
                    }
                    .bodyBlock {
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        padding-top: 20px;
                        input[type='text'] {
                            @include hannstarInput;
                            &.error {
                                border-color: $hannstar-orange1;
                            }
                        }
                        .hannstarVerifyBtn {
                            @include hannstarBtn;
                            margin: 0 auto;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}
