.e-serviceTextBlock {
  text-align: center;
  background-color: #f6f6f6;
  padding: 70px 0px;
  .title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
  }
  .content {
    font-size: 16px;
  }
}

.e-serviceServiceBlock {
  .title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center;
  }
}

.e-serviceArticleListBlock {
  .title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
    text-align: center;
  }
}
